body {
  margin: 200px auto;
  background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

button {
  height: 50px;
  width: 100px;
  border-radius: 10px;
  font-size: large;
  font-weight: 800;
  background-color: darkseagreen;
  border: 2px solid black;
}
